extends layout





block content
  h1= title
  -
    let items = results;
  div.container-fluid
    div.row
      each item,index in items
        div.col-sm-2(onclick=`buy(${index})`) #{item.Author}
        div.col-sm-2(onclick=`buy(${index})`) #{item.book_name}
        div.col-sm-2(onclick=`buy(${index})`) #{item.book_cost}
        br
        br
        
  script.
    function buy(itemNum){
      alert(`You purchased item ${itemNum+1}`)
    }